body {
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    padding: 15px;
    background-color: deepskyblue;
    border: none;
    outline: none;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    &:hover {
        background-color: lighten(deepskyblue, 20%);
    }
    &:active {
        background-color: darken(deepskyblue, 20%);
    }
}

h2 {
    margin-top: 40px;
}

#cart {
    font-size: 35px;
    margin-top: 40px;
}

#chessBoard {
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transform: perspective(300px) rotateX(12deg);
    
}

.siriusBlack {
    background: url(../img/dark.jpg);
    color: #3A1D11;
    height: 75px;
    width: 75px;
    text-align: center;
    font-size: 10px;
}

.siriusWhite {
    background: url(../img/white.jpg);
    color: #C4AC92;
    height: 75px;
    width: 75px;
    text-align: center;
    font-size: 10px;
}

.borderStyle {
    background: url(../img/white.jpg);
    color: #3A1D11;
    height: 75px;
    width: 75px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.noBorderTable {
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 1px 14px 44px 10px rgba(0,0,0,0.75);
}

#catalog {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.productItem {
    border: 2px solid deepskyblue;
    width: 30%;
    border-radius: 15px;
    margin-top: 30px;
}

.perspective {
    transform-origin: center bottom;
    transform: rotateX(-25deg);
    font-size: 72px;
    line-height: 75px;
    text-shadow:12px -3px 20px rgba(0,0,0,0.92);
}

.pawnW {
    .perspective;
    &:before {
        color: #fff;
        font-size: 72px;
        line-height: 75px;
        content: '♟';
    }
}

.rookW {
    .perspective;
    &:before {
        color: #fff;
        content: '♜';
        /*content: url(../img/rookWhite.png);*/
    }
}

.knightW {
    .perspective;
    &:before {
        color: #fff;
        content: '♞';
    }
}

.bishopW {
    .perspective;
    &:before {
        color: #fff;
        content: '♝';
    }
}

.kingW {
    .perspective;
    &:before {
        color: #fff;
        content: '♚';
    }
}

.queenW {
    .perspective;
    &:before {
        color: #fff;
        content: '♛';
    }
}

.rookB {
    .perspective;
    &:before {
        color: black;
        content: '♜';
    }
}

.knightB {
    .perspective;
    &:before {
        color: black;
        content: '♞';
    }
}

.bishopB {
    .perspective;
    &:before {
        color: black;
        content: '♝';
    }
}

.kingB {
    .perspective;
    &:before {
        color: black;
        content: '♚';
    }
}

.queenB {
    .perspective;
    &:before {
        color: black;
        content: '♛';
    }
}

.pawnB {
    .perspective;
    &:before {
        color: black;
        content: '♟';
    }
}