body {
    text-align: center;
}
button {
    padding: 20px;
    background-color: deepskyblue;
    border: none;
    outline: none;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
    &:hover {
        background-color: lighten(deepskyblue, 20%);
    }
    &:active {
        background-color: darken(deepskyblue, 20%);
    }
}
h2 {
    margin-top: 40px;
}

#cart {
    font-size: 35px;
    margin-top: 40px;
}



.siriusBlack {
    background-color: black;
    color: black;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid black;
}

.siriusWhite {
    background-color: #fff;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid black;
}

.noBorderTable{
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 0 auto;
}